/* User profile/ header*/
#user-profile-container {
  background-color: #92a9bd;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "sidebar recommendation";
}

.welcome-banner {
  grid-area: header;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  color: #ffefef;
}

.user-profile-section {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 3rem 9rem 9rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "fact1 fact2"
    "fact3 fact4";
}

.user-profile-header {
  grid-area: header;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #ffefef;
}

.user-profile-manga-count {
  grid-area: fact1;
  font-size: 18px;
  font-weight: 200;
  color: #d7cbcb;
  text-align: center;
}

.user-profile-manga-type {
  grid-area: fact2;
  font-size: 18px;
  font-weight: 200;
  color: #d7cbcb;
  text-align: center;
}

.user-profile-favorite-genre {
  grid-area: fact3;
  font-size: 18px;
  font-weight: 200;
  color: #d7cbcb;
  text-align: center;
}

.user-profile-manga-percent {
  grid-area: fact4;
  font-size: 18px;
  font-weight: 200;
  color: #d7cbcb;
  text-align: center;
}

.stats-cards {
  font-size: 72px;
  font-weight: 400;
  color: #ffefef;
  text-align: center;
}

.stats-cards-genres {
  font-size: 24px;
  font-weight: 400;
  color: #ffefef;
  text-align: center;
}

.recommendation-section {
  grid-area: recommendation;
  display: grid;
  grid-template-rows: 3rem 18rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header container"
    "button container";
}

.recommendation-header {
  grid-area: header;
  color: #ffefef;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.recommendation-button {
  grid-area: button;
  border-radius: 12px;
  background-color: #ffefef;
  border: 1px solid #ffefef;
  color: #7c99ac;
  font-weight: 400;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  width: 75%;
  height: 25%;
  margin: 0 auto;
}

.recommended-image-title-container {
  grid-area: container;
  display: grid;
  grid-template-rows: 3rem 18rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title title"
    "image image";
}

.recommendation-title {
  grid-area: title;
  color: #ffefef;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

.recommendation-button:hover {
  cursor: pointer;
}

.recommendation-image {
  grid-area: image;
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Tabs */
#tab-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.btn-tabs {
  display: block;
  width: 100%;
  border: 1px solid #92a9bd;
  background-color: #d3dedc;
  padding: 1rem 2.5rem;
  font-size: 24px;
  color: #92a9bd;
  cursor: pointer;
  text-align: center;
}

.btn-tabs:hover {
  background-color: #ffefef;
  color: #7c99ac;
}

/* manga card container */
#manga-library-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  padding: 2rem 3rem;
  background-color: #7c99ac;
}

#manga-library-sorting-container {
  background-color: #7c99ac;
  align-items: center;
  height: 4rem;
  padding: 2rem;
  display: grid;
  grid-template-rows: 3rem;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "search-bar search-bar search-bar dropdown";
}

.manga-library-search-bar {
  grid-area: search-bar;
  margin: auto;
}

#manga-library-search-bar {
  position: relative;
  width: 40rem;
  height: 2.5rem;
  background-color: #ffefef;
  border: none;
  border-radius: 5rem;
}

#manga-library-sort-dropdown {
  grid-area: dropdown;
  margin: auto;
  position: relative;
  width: 15rem;
  height: 2.5rem;
  background-color: #ffefef;
  border: none;
  border-radius: 5rem;
  font-size: 18px;
  padding-left: 1rem;
  color: #7c99ac;
}

.manga-library-image {
  width: 100%;
}

.manga-library-card {
  border: 1px solid #ffefef;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: top ease 0.5s;
  position: relative;
  top: 0;
  background-color: #ffefef;
  color: #7c99ac;
}

.remove-button {
  float: bottom;
  border-radius: 12px;
  background-color: #7c99ac;
  border: 1px solid #7c99ac;
  color: #ffefef;
  padding: 15px 32px;
  margin-top: 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
}

.remove-button:hover {
  background-color: #92a9bd;
  border: 1px solid #92a9bd;
  color: black;
  cursor: pointer;
}

.manga-personal-details-container {
  margin-top: 1rem;
  display: grid;
  grid-template-rows: 2rem 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header1 header2 header3"
    "fact1 fact2 fact3";
}

.manga-personal-details-title-volumes {
  grid-area: header1;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
}

.manga-personal-details-data-volumes {
  grid-area: fact1;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

.manga-personal-details-title-read {
  grid-area: header2;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
}

.manga-personal-details-data-read {
  grid-area: fact2;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

.manga-personal-details-title-score {
  grid-area: header3;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
}

.manga-personal-details-data-score {
  grid-area: fact3;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

/* search bar */
#search-content-container {
  display: none;
}

#search-bar-container {
  background-color: #7c99ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
}

#search-bar-text {
  color: #ffefef;
  font-size: 24px;
}

#search-bar {
  position: relative;
  width: 30rem;
  height: 2.5rem;
  background-color: #ffefef;
  border: none;
  border-radius: 5rem;
}

#search-bar-submit-btn {
  position: relative;
  width: 6rem;
  height: 2.5rem;
  background-color: #ffefef;
  color: #7c99ac;
  border: none;
  border-radius: 5rem;
  margin-left: 1rem;
}

#search-bar-submit-btn:hover {
  cursor: pointer;
  box-shadow: 5px 8px 10px 0 rgba(33, 33, 33, 0.3);
}

/* Add manga to library render results (aka cards container) */
#search-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  padding: 2rem 3rem;
  background-color: #7c99ac;
}

.manga-image {
  width: 100%;
}

.manga-card {
  border: 1px solid #ffefef;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transition: top ease 0.5s;
  position: relative;
  top: 0;
  background-color: #ffefef;
  color: #7c99ac;
}

.add-button {
  float: bottom;
  border-radius: 12px;
  background-color: #7c99ac;
  border: 1px solid #7c99ac;
  color: #ffefef;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
}

.add-button:hover {
  background-color: #92a9bd;
  border: 1px solid #92a9bd;
  color: black;
  cursor: pointer;
}

.manga-card-hover {
  box-shadow: 5px 8px 10px 0 rgba(33, 33, 33, 0.3);
  top: -10px;
}
